<p id="notice"><%= notice %></p>



<table>
	<div class="header"><h1>Cheat Sheet</h1>
<h3><%= link_to '+', new_code_path, {:class => 'button'} %></h3></div>

<div class="nav">
  <tbody>
  	<ul>
  		
    <% @languages.each do |language| %>
    <li>
    <%= link_to language.title, {:action => 'group_by', :id=> language.id} %>
    </li>
    <% end %>

</ul>
  </tbody>
</div>
</table>

<br>
