<p id="notice"><%= notice %></p>

<h1>Cheat Sheet</h1>

<table>
  <tbody>
    <% @languages.each do |language| %>
    <%= link_to language.title, {:action => 'group_by', :id=> language.id } %>
  </br>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Code', new_code_path %>
